---
---

@import "{{ site.theme }}";

tr:nth-child(4n+1) {background-color: #c6c1b9;}
tr:nth-child(4n+2) {background-color: #c6c1b9;}

tr:hover {background-color: #e35259;}

th {
  background-color: #1f08b0;
  color: white;
}
