---
---

@import "{{ site.theme }}";

table, th, td {
  border: 2px solid;
  font-weight: 900;
}

tr:nth-child(4n+1) {background-color: #f6c1b9;}
tr:nth-child(4n+2) {background-color: #f6c1b9;}

tr:hover {background-color: #ffcc00;}
/*tr:hover {background-color: #e35259;}*/

th {
  background-color: #4276b6;
  font-size: 14px;
}
#banner #logo {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 7px;
    top: 7px;
    display: block;
    background: url(...DiversityLogo.png);
}
